#heading{
    background-color: rgb(245, 91, 91);
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 42px;
    font-stretch: ultra-expanded;
}

.Team-card{
    background-color: aliceblue;
    margin: .25em;
    box-shadow: 0 .5rem 1rem rgba(0,0,0,.15);
    border-radius: .25rem;
}

.card-header{
    background-color: #007bff;
    color:white;
}

/* .team-area {
    max-width: 1000px;
    flex-wrap: wrap;
    margin:40px;
} */

.card body {
    max-width: 1000px;
    flex-wrap: wrap;
    margin:40px;
}